<% curr_id = -1 %>
<Workbook>
  <Worksheet>
    <table border="1">
      <tr>
        <th>Type</th>
        <th>Line</th>
        <th>Number of Mice</th>
        <th>Number of Litters</th>
        <th>Pups</th>
        <th>Tag</th>
        <th>DOB</th>
        <th>Genotype</th>
        <th>Gender</th>
      </tr>
      <% @cages.each do |cage| %>
      <% mice = cage.animals %>
        <% mice.each do |mouse| %>
      <tr>
        <% if cage.id != curr_id %>
          <td><%= cage.cage_type %></td>
          <td><%= cage.line %></td>
          <td><%= cage.num_mice %></td>
          <td><%= cage.num_litters %></td>
          <td><%= cage.pups %></td>
          <% curr_id = cage.id %>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td><%= mouse.tag %></td>
        <td><%= mouse.dob %></td>
        <td><%= mouse.genotype %></td>
        <td><%= mouse.gender %></td>
      <% end %>
      </tr>
      <% end %>
    </table>
  </Worksheet>
</Workbook>