
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>


<div class="pagina">
<p>
  <p>
  <h2>My Cages</h2>
  </p>
</p>

<p>
  <%= form_tag cages_path, method: :get do |f| %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
  <% end %> 
</p>

    <a <%= link_to 'Add Cage', new_user_cage_path(current_user), :class => "btn btn-info btn-s" %> </a>
<p>

</p>

 <div class="chart" style="float: right; width: 500px;border:3px solid black; background:lightgreen">
                        <h3> Cages by Genotype </h3>
                        <p><%= pie_chart current_user.cages.group(:line).count %></p>
                        <h3> Cages by Type </h3>
                        <p><%= pie_chart current_user.cages.group(:cage_type).count %></p>
                        </div>

<% @cages.each do |cage| %>
                       
 <div class="cage">  
 <p><strong><%= cage.line %></strong></p>

  <p><%= cage.cage_type %></p>

  <p><%= cage.num_litters %> litter(s)</p>

  <p> 
    <% if cage.pups == "Yes" %> 
      Has pups 
      <img src="../img/pups.png" WIDTH=50 HEIGHT=auto>
    <% else %>
      No pups
    <% end %>
  </p>

  <p> 
    <% num = cage.animals.count %> 
    <% if num == 1 %>
    <%= num %> mouse
    <% else %>
    <%= num %> mice
    <% end %>
  </p>

  <tr>
    <td><%= link_to 'View Cage', cage_path(cage), :class => "btn btn-success btn-xs" %> </td>     
    <td><%= link_to 'Edit Cage', edit_user_cage_path(current_user, cage), :class => "btn btn-warning btn-xs" %>  </td>
    <p>
    <p>
    </p>
    <td><%= link_to 'Add Animal', new_cage_animal_path(cage), :class => "btn btn-info btn-info btn-xs" %>  </td>
    <td><%= link_to 'Destroy Cage', [current_user, cage],
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"%> </td>
    </p>
  </tr>
  </div>
  <p>

  </p>
<% end %>


<h3> Total Cages: <%= @cages.count %> </h3>  

</div>

