
<div class = "pagina">
	<h2> Add Cage </h2>

	<%= simple_form_for([current_user, @cage]) do |f| %>

	<%= f.error_notification %>
    <%= f.full_error :confirmation_token %>
	                                                                  
	 <p><%= f.input :cage_type, :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" },
	        :collection => ["Breeding","Injected","Waiting","Need Genotype"] %></p>

	 <p><%= f.input :line, :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>

	 <p><%= f.input :num_litters, :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control", :value => 0 } %></p>

	 <p><%= f.input :pups, :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" },
	        :collection => ["Yes", "No"] %></p>
	                                                                              
	<%= f.submit :class => "btn btn-success" %>
	               
	<% end %>
</div>