<div class="pagina">

<h2><%= @user.name%>'s Cages</h2>

<p>
  <%= form_tag cages_personal_path, method: :get do |f| %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
  <% end %> 
</p>

<p>
  Download Spreadsheet:
  <%= link_to "Excel", cages_path(format: "xls"), :class => "btn btn-default btn-xs" %>
</p>

<div class="chart" style="float: right; width: 500px;border:3px solid black; background:lightgreen;">
                        <h3> Cages by Genotype </h3>
                        <p><%= pie_chart @user.cages.group(:line).count %></p>
                        <h3> Cages by Type </h3>
                        <p><%= pie_chart @user.cages.group(:cage_type).count %></p>
                        </div>

<% count = 0 %>
<% x = "" %>
<% y = "" %>
<% @cages.order(:line, :cage_type, :created_at).reverse.each do |cage| %>

<% if count == 0 %>
    <% x = cage.line %>
    <h3><%= x %></h3>
    <% count = 1 %>
  <% else %>
    <% y = cage.line %>
    <% if x != y %>
      <h2><%= y %></h2>
      <% x = y %>
    <% end %>
  <% end %>

<p>
</p>
<div class="cage">
<strong><p><%= cage.line %></p></strong>

<p><%= cage.cage_type %></p>

<p><%= cage.num_litters %> litters </p>

<p> 
	<% if cage.pups %> 
	Has pups
	<img src="../img/pups.png" WIDTH=30 HEIGHT=auto>
	<% else %>
	No pups
	<% end %>
</p>

<% cage.animals.order(:tag).each do |animal| %>
<div class="mice"><strong><%= animal.tag %><img src= "../img/mouse2.png" HEIGHT = 15 WIDTH = auto></strong></div>
<% end %>

<p>

</p>

<p>
     <tr>
       <td><%= link_to 'View Cage', cage_path(cage), :class => "btn btn-success btn-xs" %> </td>   
     </tr>
</p>
</div>
<% end %>
<h3> Total Cages: <%= @cages.count %> </h3>  

</div>
