<div class="pagina">

<h2><%= @user.name%>'s Cages</h2>

<p>
  <%= form_tag cages_personal_path, method: :get do |f| %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
  <% end %> 
</p>

<% @cages.each do |cage| %>
<p>
</p>
<div class="cage">
<strong><p><%= cage.line %></p></strong>

<p><%= cage.cage_type %></p>

<p><%= cage.num_litters %> litters </p>

<p> 
	<% if cage.pups %> 
	Has pups
	<img src="../img/pups.png" WIDTH=50 HEIGHT=auto>
	<% else %>
	No pups
	<% end %>
</p>

	<p>
		<% num = cage.animals.count %> 
		<% if num == 1 %>
		<%= num %> mouse
		<% else %>
		<%= num %> mice
		<% end %>
	</p>

<p>
     <tr>
       <td><%= link_to 'View Cage', cage_path(cage), :class => "btn btn-success btn-xs" %> </td>   
     </tr>
</p>
</div>
<% end %>
<h3> Total Cages: <%= @cages.count %> </h3>  

</div>
