<div class="pagina">

<div style="position:fixed;padding-left:250px;top:-5px;z-index:99999999;color:white;">
  <h2><b>View Cage</b></h2>
</div>

<h2> Cage: </h2>   

<div class="cage" draggable="true">
<strong><p><%= @cage.line %></p></strong>

<p><%= @cage.cage_type %></p>

<p><%= @cage.num_litters %> litter(s)</p>

<p> 
	<% if @cage.pups == "Yes" %> 
		Has pups 
		<img src="../img/pups.png" WIDTH=50 HEIGHT=auto>
	<% else %>
		No pups
	<% end %>
</p>

<p> 
	<% num = @cage.animals.count %> 
	<% if num == 1 %>
	<%= num %> mouse
	<% else %>
	<%= num %> mice
	<% end %>
</p>
</div>

<h3> Total Animals: <%= @cage.animals.count %> </h3> 
<%= render @cage.animals %>


<% if @cage.user == current_user %>

<h2>Add Animal:</h2>

	<%= render 'animals/form' %>
<% end %>

</div>



