<h2> Cage: </h2>   

<strong><p><%= @cage.line %></p></strong>

<p><%= @cage.cage_type %></p>

<p><%= @cage.num_litters %> litter(s)</p>

<p> 
	<% if @cage.pups == "Yes" %> 
		Has pups 
		<img src="../img/pups.png" WIDTH=50 HEIGHT=auto>
	<% else %>
		No pups
	<% end %>
</p>

<p> 
	<% num = @cage.animals.count %> 
	<% if num == 1 %>
	<%= num %> mouse
	<% else %>
	<%= num %> mice
	<% end %>
</p>

<h2>Animals:</h2>
<%= render @cage.animals %>
<h3> Total Animals: <%= @cage.animals.count %> </h3> 


<h2>Add Animal:</h2>
<% if @cage.user == current_user %>
	<%= render 'animals/form' %>
<% end %>

