<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
<%= javascript_include_tag "google.com/jsapi", "chartkick" %>

<div class="pagina">

<div style="position:fixed;padding-left:250px;top:-5px;z-index:99999999;color:white;">
  <h2><b>View Statistics</b></h2>
</div>

<h3>Total Cages: <%= @cages.count %> </h3>

<div class="chart" style="width: 430px;border:3px solid black; background:lightgreen;float:left;">
	<h3> Cages by Genotype </h3>
	<p><%= pie_chart @cages.group(:line).count %></p>
</div>

<div class="o" style="padding-left:445px;">

<div class="chart" style="width: 430px;border:3px solid black; background:lightgreen;">
	<h3> Cages by Type </h3>
	<p><%= pie_chart @cages.group(:cage_type).count %></p>
</div>
</div>



<p>

</p>

<div class="chart" style="width: 877px;border:3px solid black; background:lightblue;">
	<h3> Date Created </h3>
	<%= line_chart @cages.group(:line).group_by_day(:created_at).count %>
</div>



</div>