
<% def inferno() %>
<%  cages = Cage.all %>
<%  cages.each do |cage| %>
<%  if cage.user.nil?  %>
<%    cage.animals.each do |animal| %>
<%        animal.delete %>
<%    end %>
<%  cage.delete %>
<%  end %>
<% end %>
<% end %>
<% inferno %>

<div class="pagina">
<h1> Users </h1>

<p> 
	<%= form_tag users_path, method: :get do |f| %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
	<% end %> 
</p>

<% @users.each do |user| %>    
<div class = "user"> 
	<p> <h4><strong><%=user.name + " "%></strong><i class="fa fa-user"></i>


	</h4> <%= link_to "Edit User", user_path(user), :class => "btn btn-warning btn-xs"%> <%= link_to "View Cages", cages_personal_path(user), :class => "btn btn-info btn-xs"%></p>
</div>
<% end %>

<h3> Total Researchers: <%= User.count %> </h3> 


<h3> Total Cages: <%= Cage.count %> </h3>
</div>
