<div class="pagina">
<div class="container">

    <% user = User.find params[:id] %>
    <h1><%=user.name%>'s Profile <%= link_to 'Edit User', edit_user_path(user), :class => 'btn btn-warning' %> 
     <%= link_to 'Delete User', @user,
            method: :delete, :class => 'btn btn-danger',
	        data: {confirm: 'Are you sure you want to delete this user?'}  
	    %></h1>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %> </p>
        <p>Cages: <%= user.cages.count %></p>
        <p>Role: <%= user.role %></p>
    
    <%= link_to 'Back to All Users', users_path, :class => "btn btn-default" %>
    <br>
    <br>

</div>
</div>