    <% user = User.find params[:id] %>

<div class="pagina">
<div style="position:fixed;padding-left:250px;top:-5px;z-index:99999999;color:white;">
  <h2><b><%=user.name%>'s Profile</b></h2>
</div>
<div class="container">
    <h1><%=user.name%>'s Profile <%= link_to 'Edit User', edit_user_path(user), :class => 'btn btn-warning' %> 
    <% if current_user.role == "admin" %>
     <%= link_to 'Delete User', @user,
            method: :delete, :class => 'btn btn-danger',
	        data: {confirm: 'Are you sure you want to delete this user?'}  
	    %><% end %></h1>
        
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %> </p>
        <p>Cages: <%= user.cages.count %></p>
    
    <%= link_to 'Back to All Users', users_path, :class => "btn btn-default" %>
    <br>
    <br>

</div>
</div>