<body>



  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
     
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="welcome">
        <p>
                            <h1>Welcome to the Sudhof Lab! </h1>

                          
                            <p>
                            ----------------------------------------------------------------------------------------------------------------------------------------------------------
                            </p>
                            <h5>This app is a platform designed to make it easy to keep track of mouse cages and animals. </h5>
                        </p>

                        <p>
                        </p>
                      
                        <strong><p>To navigate simply click the tabs in the navigation bar to the left or the buttons below: </p></strong>
                      </div>



              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                    <div class="row mtbox">
                      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                        <div class="box1">
                  <%= link_to users_path do %>
                      <span class="li_user"></span>
                       <h5>Users</h5>
                    <% end %>
                  <h3></h3>
                        </div>
                  <p>View users.</p>
                      </div>
                      
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <%= link_to cages_path do %>
                      <span class="li_cloud"></span>
                       <h5>Cages</h5>
                    <% end %>
                  <h3></h3>
                        </div>
                  <p>View cages.</p>
                      </div>

                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <%= link_to root_path do %>
                      <span class="li_news"></span>
                       <h5>Home</h5>
                    <% end %>
                  <h3></h3>
                        </div>
                  <p>Refresh.</p>
                      </div>

                  
                      <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <%= link_to new_user_cage_path(current_user) do %>
                      <span class="li_lab"></span>
                       <h5>Create</h5>
                    <% end %>
                  <h3></h3>
                        </div>
                  <p>Create Cage.</p>
                      </div>
                    
 <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                  <%= link_to welcome_show_path do %>
                      <span class="li_settings"></span>
                       <h5>Help</h5>
                    <% end %>
                  <h3></h3>
                        </div>
                  <p>Click to learn how to use this app.</p>
                      </div>

                    </div><!-- /row mt -->  
                  
                      
                      
           
          
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                 

  </body>  