<div class="centered">
<div class="pagina">
<%= simple_form_for([@cage, @cage.animals.build]) do |f| %>
                                                                  
  <%= f.input :dob , as: :date, start_year: Date.today.year - 90, end_year: Date.today.year,
                                  :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>

 <p><%= f.input :gender, :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" },
        :collection => ["Male", "Female"] %></p>

 <p><%= f.input :genotype,  :placeholder  => "Genotype", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control", :value => @cage.line } %></p>

 <p><%= f.input :tag,  :placeholder  => "Tag Number", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>

 <p><%= f.input :virus,  :placeholder  => "Virus", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control", :value => "N/A"} %></p>                                                                              
<%= f.submit :class => "btn btn-success" %>
               
<% end %>
</div>
</div>